.slider, .slider__wrapper, .slider__items, .slider__item {
    width: 100% !important;
    background: none;
    max-width: 100%;
    margin: 0;
}

.slider__indicators {
    z-index:200;
    right: 0;
}
.slider__indicators > * {
    border: 1px solid #fff;
    width: 15px;
    height:15px;
    margin: auto 5px auto 5px;
    background: hsl(0, 0%, 20%);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}
.slider__indicator_active {
    background: hsl(32, 88%, 54%);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.slider__item > * > .btn,.slider__indicator_active  {
    background: hsl(32, 88%, 54%) !important;
    border:1px solid hsl(32, 100%, 65%) !important;
}

.slider__item > * > .btn:hover,.slider__indicator_active:hover  {
    background: hsl(32, 91%, 64%) !important;
    border:1px solid hsl(32, 100%, 74%) !important;
}


.slider__item {
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider__item .slide__text {
    margin: 0 auto;
}


.slider__item {
    position: relative;
}
.slide__img {
    position: absolute;
    width: 100%;
}
.slide__text {
    color: white;
    position: absolute;
    background: black;
    width: 70%;
    height: 100%;
    padding: 3rem 12rem 3rem 3rem;
    text-overflow: clip;
    display: flex;
    justify-content: flex-end ;
    flex-direction: column;
    background: linear-gradient(90deg,  hsl(0 0% 0%/0.4),hsl(0 0% 0%/0));

}

.slide__text .btn {
    min-width: 30%;
    max-width: 50%;
    background: var(--main-white) !important;
    border: 1px solid var(--main-white-400) !important;
    color:  var(--main-black) !important;
    opacity: 0.9;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}
.slide__text .btn:hover {
    min-width: 35%;
    max-width: 55%;
    background: var(--main-white) !important;
    border: 1px solid var(--main-white-400) !important;
    color:  var(--main-black) !important;
    opacity: 1;
    text-decoration: none;

}
.slide__text span {
    margin-bottom: 0.5rem;
    min-width: 150px;
    max-width: 350px;
    display: flex;
    justify-content: flex-end;
}
.slider__item:nth-child(even) {
    flex-direction: row-reverse;
}
.slider__item:nth-child(even) .slide__text {
    align-items: flex-end;
    padding: 3rem 3rem 3rem 12rem;
    background: linear-gradient(90deg, hsl(0 0% 0%/0),hsl(0 0% 0%/0.4));
}

.slider__item > .slide__img,
.slider__item > .slide__img a,
.slider__item > .slide__img a img
{
    width: 100% !important;
    height: 100% !important;
    /* min-width: 50% !important;
    max-width: 50% !important; */
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
}