@media (min-width:280px) and (max-width: 767px) {
    .footer-block {
        flex-direction: column;
    }
    .icons{
        flex-direction: row;
        height: auto;
        width: 65%;
        margin-bottom: 1.5rem;
    }
    .logo {
        margin: 1.5rem 0;
        width: 100%;
    }
    footer{
        height:auto;
    }
    .links-footer{
    align-content: space-around
    }
    .news-blocks .post_card {
        width: 95%;
    }
    .form-check-label{
        flex-direction: column;
    }
    .reg-btn,.auth-btn{
        margin-top: 1rem;
        width: 100%;
    }
    .auth-form form {
        width: 100%;
    }
    .form-check-label{
        align-items: flex-start;
    }
    .search-flex{
        flex-direction: column;
    }
    .search{
        width: 100%;
        margin: 1rem 0;
    }
    .screen.news-blocks,.latest-posts {
        padding: 0 .5rem!important;
    }
    .slide__text{
        width: 100%;
        font-size: 16px;
    }
    .slide__text span{
        width: 300px;
    }
    .slide__text .btn{
        padding: .5rem;
        width: 210px;
        max-width: none;
        min-width: none;
        font-size: 14px;
    }
    .contact-form{
        flex-direction: column;
    }
    .contact-form .card{
        margin-bottom: 1rem;
    }
    .counter-content{
        flex-direction: column;
        align-items: center;
    }
    .block-info-right, .block-info-left{
        margin: 1rem 0;
        width: 85%;
    }
    .counter{
        width: 90%;
        padding: 40% 0;
    }
    .counter .h1-counter{
        font-size: 2.8vw;
    }

    .counter .h2-counter{
        font-size: 4vw;
    }
    .contact-form .card-body,
    .contact-form .card {
        margin-bottom: 1rem;
    }
    .slider, .slider__items, .slider__item, .slider__wrapper {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .slide__text span{
        font-size: 14px;
    }
    .line-top{
        width: 100%;
    }
    .right-side{
    width: 100%;
    }
    .search-not-found img{
        left: 20%;
    }
    .search-not-found span{
        font-size: 6vw;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 20px 15px;
        font-size: 18px;
    }
    .flex{
        display: flex;
        justify-content: center;
    }
    .news-block .card {
        width: 100%;
        height: 95%;
    }
}

@media (min-width:770px) and (max-width: 1000px) {
    .contact-form .card-body,
    .contact-form .card {
        margin-bottom: 1rem;
        margin-top: 0rem!important;
    }
}

@media (width:820px) {
    .counter-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-info-right, .block-info-left {
        width: 100%;
        min-height: 400px;
        padding: 3rem;
    }
    .counter {
        width: 60%;
        padding: 25% 0;
    }
    .counter .h2-counter{
        font-size: 3vw;
    }
    .counter .h1-counter{
        font-size: 2.2vw;
    }
}
@media (min-width:1000px) and (max-width:1280px){
    .counter .h1-counter {
        font-size: 1.3vw;
    }

    .counter .h2-counter {

        font-size: 1.8vw;
    }
}
