@media (min-width:280px) and (max-width: 720px) {
    .nav-item a{
        font-size: 20px;
        text-transform: uppercase;
    }
    .card-text-main{
        width: 100%;
    }
    .card-form {
        display: flex;
        justify-content: center;
    }
    .news-block .card {
        width: 100%;
        margin-bottom: 1rem;
    }
    .accordion-item{
        width: 100%;
    }
    .directions-block {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .news-blocks p{
        color: #fff;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
        width: 95%;
    }
    .form-check-label {
        align-items: stretch;
        flex-direction: column;
    }
    .reg-btn{
        width: 100%;
        margin-top: 1.6rem;
    }
    .registr-form input.input{
        width: 100%;
    }
    .select select {
        width: 100%;
    }
    .reg-form{
        width: 95%;
    }
    .registr-form {
        display: flex;
        justify-content: center;
    }
    .select-options {
        flex-direction: column;
        width: 100%;
    }
    .registr-form form{
        width: 95%;
    }

    .footer-block {
        flex-direction: column-reverse;
        width: 100%;
    }
    .registr-form .line-top, .auth-form .line-top, .registr-form .line-down, .auth-form .line-down {
        width: 100%;
    }
    footer{
        height: auto;
    }
    .icons {
        display: flex;
        height:auto;
        flex-direction: row;
        margin: 1rem 0;
        width: 80%;
    }
    .logo {
        margin-bottom:  1rem;
    }
    footer .line-top {
        margin-bottom: 1rem;
    }
    .auth-form form {
        width: 95%;
    }
    .news-block{
        width: 95%;
    }
    .block{
        width: 95%;
        display: flex;
        justify-content: center;
    }
    #center-block .card-height{
        height: auto;
    }
    #center-block .card-height img, #center-block .right .card-height img{
        border-radius: 10px 10px 0 0;
        min-height: 250px;
    }
    .main-container {
        width: 100%;
        margin-top: 0rem;
    }
    .form-content .select-options select  {
        width: 100%;
    }
    .form-content .select-options {
        width: 100%;
    }
    .form-content {
        margin-top: 20px;
    }
    .avatar img {
        width: 100%;
    }
    .img-btn{
        width: 100%;
    }
    .add-block .btn{
        width: 100%;
        height: 50px;
        margin-top: 1rem;
        font-weight: 300;
    }
    .add-block {
        width: 95%;
        flex-direction: column;
        height: auto;
        display: flex;
        align-items: stretch;
    }
    .edit-block {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .edit-block .info-block{
        width: 100%;
        margin-right: 1rem;
        height: auto;
        padding: 10px;
    }
    .information {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .edit-block .text-h2 {
        width: 100%;
    }
    .edit-row {
        width: 100%;
        flex-direction: column;
    }
    .edit-block .block-start, .edit-block .block-end {
        width: 100%;
        height: 50px;
    }
    .add-block{
        padding: 10px 10px 20px 10px;
    }
    .edit-row {
        padding: 10px 10px 0px 10px;
    }
    .form-content {
        padding: 10px;
    }
    .btn-add{
        width: 100%;
    }
    .edit-block .btn{
        width: 80%;
        height: 50px;
        font-weight: 300;
    }
    .block-start, .block-end{
        margin-bottom: 1rem;

    }
    .edit-block .accordion-button::after {
        position: absolute;
        right: 20px;
        top: -34px;
    }
    #accordoin-w .accordion-button::after {
        position: absolute;
        right: 20px;
        top: -34px;
    }
    .text-h1 {
        font-weight: 600;
        font-size: 24px;
    }
    .text-header {
        font-size: 26px;
        text-align: center;
    }
    .form-content input.input {
        width: 100%;
    }
    .grade-block .accordion{
        width: 95%;
    }
    #accordoin-w .accordion{
        width: 100%;
    }
    .edit-btn{
        width: 100%;
    }
    td:nth-last-child(1) {
        padding-right: 0;
    }
    .line-top {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    .links-footer {
        flex-direction: row;
    }
    .btn-edit{
        width: 100%;
    }
    .avatar img {
        margin-bottom: 1rem;
    }
    .card-edit{
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }
    .top-content {
        flex-direction: column;
        width: 100%;
    }
    .top-content .img-edit{
        width: 100%;
    }
    .top-content p {
        width: 100%;
    }
    .down-content{
        width: 100%;
        flex-direction: column;
    }
    .down-content .del-btn, .down-content .edit-btn{
        width: 100%;
    }
    .down-content .one{
        margin: 1rem 0;
        width: 100%;
    }
    #accordion-w .accordion{
        width: 100%;
    }
    .cunter-content{
        flex-direction: column;
        align-items: center;
    }
    .block-info-right, .block-info-left{
        width: 95%;
    }
    .block-info-right .text-h1, .block-info-left .text-h1{
        font-size: 18px;
    }
    .counter{
        margin: 2rem 0;
        width: 350px;
        height: 350px;
    }
    .block-info-right p, .block-info-left p {
        width: 300px;
        font-size: 16px;
    }
    .descriptions{
        height: auto;
        width: 100%;
    }
    .content {
        width: 95%;
    }
    .content-down{
        flex-direction: column-reverse;
    }
    .add-materials{
        width: 100%;
        margin-bottom: 2rem;
    }
    .link-content{
        width: 100%;
    }
    .submit-task{
        width: 100%;
        padding: 1rem;
    }
    .submit-task .btn-container{
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .submit-task .attach-file{
        margin: 1rem 0;
        width: 100%;
    }
    .submit-task .btn-send{
        width: 100%;
    }
    .btn-container .line{
        display: none;
    }
    .icon-content{
        width: 100%;
        padding: 1rem 0;
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }
    .descriptions .line{
        width: 100%;
    }
    .descriptions .text-p{
        font-size: 16px;
        line-height: 24px;
    }
    .submit-task .text-h1, .descriptions .text-h1,.add-materials .text-h1 {
        font-size: 20px;
    }
    .btn-apply{
        height: 60px;
    }
    .main-container{
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }
    .images-header{
        padding: 2rem 0;
    }
    .images-header img{
        width: 100%;
    }
    .btn-back{
        width: 100%;
    }
    .text-container .text-h1{
        width: 100%;
    }
    .right-block-info{
        width: 100%;
    }
    .link-content .text-p{
        width: 100%;
    }
    .text-container .line{
        width: 100%;
    }

    .text-container .text-h1, .text-container .text-p{
        width: 100%;
        font-size: 20px;
    }
    .text-container .text-h1{
        font-size: 24px;
    }
    .text-container{
        width: 100%;
    }
    .flex-container{
        flex-direction: column;
    }
    .grade-block{
        padding: 0;
    }
}

@media (min-width:720px) and (max-width: 1280px) {
    .card-text-main{
        width: 90%;
        margin-left: 1.5rem;

    }
    .cards-with-text{
        display: flex;
        justify-content: center;
    }
    .registr-form .line-top, .auth-form .line-top, .registr-form .line-down, .auth-form .line-down {
        width: 95%;
    }
    .block{
        width: 95%;
    }
    .news-block {
        width: 100%;
    }
    .reg-btn{
        width: 49%;
    }
    .content{
        width: 95%;
    }
    .descriptions{
        width: 100%;
    }
    .descriptions .line {
        width: 100%;
    }
    .player{
        width: 100%;
    }
    .content-down{
        width: 100%;

    }
    .submit-task{
        width: 72%;
    }
    .add-materials{
        width: 300px;
    }
    .block-info-right, .block-info-left{
        width: 30%;
    }
    .counter{
        margin: 0 1rem;
    }
    .block-info-right p, .block-info-left p{
        font-size: 15px;
    }
    .block-info-right .text-h1, .block-info-left .text-h1{
        font-size: 17px;
    }
}

@media (min-width:720px) and (max-width: 1024px){
    .registr-form .input-child input:nth-child(1),
    .registr-form .input-child input:nth-child(2) {
        width: 100%;
    }
    .select-options {
        width: 100%;
        flex-direction: column;
    }
    .select select {
        width: 100%;
    }
    .registr-form form .row{
        flex-direction: column;
    }
    .registr-form input.input {
        width: 100%;
    }
    .footer-block {
        width: 90%;
    }
    .auth-btn{
        width: 50%;

    }
    .reg-btn {
        width: 49%;
    }
    .nav-item a{
        font-size: 14px;
        text-transform: uppercase;
    }
    .card-text-main{
        font-size: 18px;
    }
    .news-blocks p {
        width: 95%;
    }
    .registr-form form{
        width: 95%;
    }
    .news-block .card {
        width: 49%;
        margin-bottom: 1rem;
    }
    .direction {
        width: 45%;
    }
    .select::after {
        left: 96%;
    }
    .nav-item {
        padding: 0;
    }
    .auth-form form {
        width: 95%;
    }
    .auth-form {
        height: 580px;
    }
    .news-block{
        width: 95%;
    }
    .block{
        width: 95%;
    }
    .form-content .select select {
        width: 98%;
    }
    .form-content .select select {
        width: 100%;
    }
    #center-block .card-height {
        height: auto;
    }
    .grade-block .accordion {
        width: 95%;
    }
    .main-container{
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }
    .images-header{

        padding: 2rem 0 0 0;
    }
    .images-header img{
        width: 100%;
    }
    .btn-back{
        width: 100%;
    }
    .text-container .text-h1{
        width: 100%;
    }
    .right-block-info{
        width: 49%;
    }
    .link-content .text-p{
        width: 80%;
    }
    .text-container .line{
        width: 100%;
    }

    .text-container .text-h1, .text-container .text-p{
        width: 100%;
        font-size: 20px;
    }
    .text-container .text-h1{
        font-size: 24px;
    }
    .text-container{
        width: 49%;
    }
    .flex-container{
        justify-content: space-between;
    }
}

/* @media (min-width: 420px) and (max-width: 1150px) {
    .form-content input.input{
        width: 100%;
    }
    .form-content .input-child input:nth-child(1), .form-content .input-child input:nth-child(2) {
        width: 100%;
    }
    .form-content .select-options {
        width: 100%;
    }
    .form-content .select select {
        width: 100%;
    }
    .edit-btn {
        width: 100%;
    }
    .accordion {
        width: 95%;
    }
} */

@media (min-width: 1150px) and (max-width: 1280px){
    .main-container {
        width: 95%;
    }
    .avatar-content{
        display: flex;
        justify-content: space-between;
    }
    .form-content {
        width: 70%;
    }
    .form-content input.input{
        width: 32%;
    }
    .form-content .input-child input:nth-child(1), .form-content .input-child input:nth-child(2) {
        width: 49%;
    }
    .form-content .select-options {
        width: 100%;
    }
    .form-content .select select {
        width: 250px;
    }
    .edit-btn {
        width: 32%;
    }
    .add-block {
        width: 95%;
    }
    .edit-block {
        width: 95%;
    }
    .edit-block .info-block{
        width: 100%;
    }
    .footer-block{
        width:1180px; ;
    }
    .accordion-item{
        width: 100%;
    }
    .edit-block .accordion-button::after {
        position: absolute;
        right: -25px;
        top: -36px;
    }
     .edit-block .btn {
        width: 200px;
        height: 60px;
     }
     .add-block .btn {
        width: 255px;
     }
     .edit-block .block-start, .edit-block .block-end {
        width: 300px;
     }
     .information {
        width: 630px;
     }
     .grade-block .accordion {
        width: 95%;
    }

}

@media (max-width:1200px) {

    .table-2{
        display: block;
        width: 100%;
    }

    .table-2 thead,
    .table-2 tbody,
    .table-2 thead  th{
        display: block;
    }
    .table-2 thead{
        float: left;
    }
    .table-2 tbody{
        overflow-x: auto;
    }
    .table-2 tbody tr{
        display: table-cell;

    }

    .table-2 tbody tr:last-child{
        border-right: none;
    }

    .table-2 td{
        display: block;
    }
    .table.table-2 td{
        border-right: none;
    }

    .table-2 td, .table-2 th{
        padding: 10px 5px;
        overflow: hidden;
        width: 160px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
}
