:root {
    --main-white: hsl(0 0% 100%);
    --main-white-400: hsl(0 0% 83%);
    --main-black: hsl(0 0% 25%);
    --main-primary-bg: #daef14;
    --main-primary-bg-light: rgb(241, 255, 83);
    --main-primary-footer: #8c64d8;
    --main-primary-ligh-2: #6936c8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
}

input, select {
    border: 1px solid hsl(261 57% 50% / 0.4);
}

.btn {
    background: var(--main-primary-footer) !important;
}
.btn:hover {
    background: var(--main-primary-ligh-2) !important;
}

.text {
    width: 65%;
}

.accordion-body {
    width: 100%;
}

.navbar {
    background-color: #fff;
    padding: 0;

}

.input-group .form-control {
    border: 0;
    border-radius: 0 5px 5px 0;
}

main {
    display: flex;
    justify-content: center;

}

.main-containers {
    margin-top: 2rem;
    width: 80%;
    background-color: #fff;
    padding: 2rem;

}

.avatar.col-lg-3 {
    padding: 0;
    margin-right: 1rem;
}

.avatar img {
    width: 100%;
    height: 407px;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 0;
}

.avatar-content {
    display: flex;
    justify-content: center;
}

.avatar-content .form-content {
    background-color: #ededed;
    padding: 1rem;
    border-radius: 5px;
    width: 72%;
}

.grade-block .form-content {
    background-color: #ededed;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
}

.input-group-text {
    border: 0;
    background-color: var(--main-primary-footer);
    color: #fff;
}

.form-content input.input {
    width: 315px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    border: 0;
    margin: 1rem 0;
}

.edit .edit-btn {
    width: 485px;
}

/* .form-floating{
    width: 49%;
    border: 0;
} */
/* .form-content .input-child input:nth-child(1),
.form-content .input-child input:nth-child(2)
{
    width: 49%;
    border: 0;
} */
.form-content .select-options {
    justify-content: space-between;
    display: flex;
    width: 992px;
}

.column .one {
    display: flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
}

.column .one p {
    margin: 5px;
}

.form-content .select select {
    display: block;
    width: 315px;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    background: none;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #444;
    background-color: #fff;
    margin: 1rem 0;
    cursor: pointer;
}

.edit-btn {
    margin: 1rem 0;
    width: 315px;
    height: 50px;
    background: var(--main-primary-footer);
    border-radius: 5px;
    border: 0;
    color: #fff;
    transition: 250ms;
}

.edit-btn:hover {
    background: var(--main-primary-ligh-2);
    text-decoration: underline;
}

.img-btn {
    background: var(--main-primary-footer);
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: .3rem;
    width: 100%;
    transition: 250ms;
}

.img-btn:hover {
    background: var(--main-primary-ligh-2);
    text-decoration: underline;
}

.form-group {
    display: flex;
    justify-content: flex-end;
}

.text-header {
    font-size: 32px;
    color: #202020;
    font-weight: 600;
}

.accordion-button {
    padding: 0;

}

.edit-block .accordion-flush .accordion-item .accordion-button {
    width: -webkit-fill-available;
    margin-right: 15px;
}

.table th {
    border: 0;
}

#nonborder td {
    margin-right: 0px;
    border-right: 1px solid #DEE2E6;
}

#nonborder td:nth-last-child(1),
#nonborder th:nth-last-child(1) {
    border-right: 0;
}

td:nth-last-child(1) {
    padding-right: 20px;
}

.add-bloc {
    display: flex;
}

.grade-block {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.accordion-item {
    width: 1370px;
}

.accordion-button th {
    margin: 0 auto;
}

.accordion-button {
    border: 1px solid #555555;
    border-radius: 5px;
    margin-right: 10px;
}

.accordion-button {
    padding: 10px 10px 0px 10px;

}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 5px;
}

.accordion-item:last-of-type .accordion-collapse {
    padding: 0 10px;
}

.add-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 5px;

}

.text-h1 {
    font-weight: 400;
    font-size: 32px;
}

.text-h2 {
    font-weight: 400;
    font-size: 18px
}

.information {
    margin-top: 2rem;
}

.edit-block .btn {
    margin-top: 1rem;
}

.add-block .btn,
.edit-block .btn {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #555;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    transition: 250ms;
}

.add-block button:hover,
.edit-block .btn:hover {
    background-color: #333;
    text-decoration: underline;
}

.edit-block {
    height: auto;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 5px;
}

.edit-block .accordion-flush .accordion-item .accordion-button {
    border: 0;
}

.edit-row {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-block .text-h2 {
    width: 100%;
}

.edit-block .accordion-header {
    margin-bottom: 1rem;
}

.grade-block .accordion {
    width: 100%;
}

.edit-block .accordion {
    --bs-accordion-bg: none;
}

.edit-block .accordion-button:not(.collapsed) {
    color: none;
    background-color: #EDEDED;
    box-shadow: none;
}

.edit-block .accordion-button:focus,
.add-block .accordion-button:focus {
    box-shadow: none;
}

.edit-block .accordion-button {
    padding-right: 1.5rem;
}

.edit-block .info-block {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.edit-block .block-start,
.edit-block .block-end {
    width: 330px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-right: 2rem;
}

.accordion-body .row {
    --bs-gutter-x: 2rem;
}

.information {
    display: flex;
}

.accordion-button:not(.collapsed)::after {
    margin-bottom: 5px;
}

.accordion-button::after {
    margin-bottom: 5px;
}

.edit-block .accordion-button::after {

    position: absolute;
    right: 8px;
    top: -20px;
}

.number-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
    background-color: #085aff;
    border-radius: 4px;
    color: #fff;
}

.column .coplexity {
    padding: 3px 20px;
    color: white;
    border-radius: 4px;
}

.number-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
    border-radius: 4px;
    color: #fff;
}

.down-content .number-two {
    margin-left: 1rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.info-block p {
    margin: 5px;
}

.info-block .one,
.down-content .one {
    display: flex;

}

.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.table th {
    background-color: #3175fc;
    color: #fff;
}

.accordion-item:last-of-type .accordion-collapse {
    margin-top: 1rem;
    padding: 0;
}

.accordion-header td {
    border: 0;
}

.table th:nth-child(odd) {
    background-color: #4886FF;
}

.table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tr {
    transition: all .3s;
}

.table-2 tr:hover {
    background-color: #ccc;

}

.table>:not(caption)>*>* {
    border-bottom: none;
}

#nonborder td {
    border-right: none;
}

.table {
    margin-bottom: 10px;
}

.accordion-body .btn-edit {
    display: flex;
    justify-content: flex-end;
}

.card-edit {
    width: 45%;
    border-radius: 5px 10px;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2.5rem
}

.down-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.del-btn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff5454;
    border: 0;
    color: #fff;
    transition: 250ms;
}

.del-btn:hover {
    background-color: #fe2323;
    text-decoration: underline;
}

.down-content .edit-btn {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    background-color: #4886FF;
    color: #fff;
    transition: 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-content .edit-btn:hover {
    background: #004de6;
    text-decoration: underline;
}

.top-content .text-h1 {
    font-size: 24px;
    color: #252525;
}

/* .top-content p {
    width: 300px;
} */

.top-content .img-edit {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.top-content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.down-content p {
    margin-bottom: 0;
}

.down-content .number-one {
    margin-left: 1rem;
}

.accordion-item {
    width: 100%;
}

.d-flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.input-group {
    height: 55px;
}

.btn-apply {
    background: var(--main-primary-footer);
    border-radius: 5px;
    border: 0;
    color: #fff;
    width: 100%;
    transition: 250ms;
    padding: 1rem;
}
.btn-apply-pass {
    background: var(--main-primary-footer);
    border-radius: 5px;
    border: 0;
    color: #fff;
    width: 100%;
    transition: 250ms;
    padding: 12px;
    height: 100%;
}

.btn-apply:hover, .btn-apply-pass:hover {
    background: var(--main-primary-ligh-2);
    text-decoration: underline;
}

.main-container .row {
    justify-content: flex-end;
}
.d-flex-btn{
    display: flex;
    justify-content: end;
}
/*
    Класс для заблокированного задания
*/
.locked-task {
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
}


/*
    Классы для цвета оценок
*/
.rating-two {
    background-color: #FF4848;
}

.rating-three {
    background-color: #ffc72c;
}

.rating-four {
    background-color: #13E58D;
}

.rating-five {
    background-color: #54EA2F;
}

/*
    Классы для цвета оцененных блоков
*/
.block-for-two {
    border: 6px solid #FF4848;
    border-radius: 5px;
}

.block-for-three {
    border: 6px solid #ffc72c;
    border-radius: 5px;
}

.block-for-four {
    border: 6px solid #13E58D;
    border-radius: 5px;
}

.block-for-five {
    border: 6px solid #54EA2F;
    border-radius: 5px;
}

.profile-aside {
    border-right: 1px solid #ededed ;
}

.track-list li {
    list-style-type: none;
}

/*
    Медиа запросы для адптивной версии страницы
*/

@media (min-width:280px) and (max-width: 770px) {
    .links-footer{
    align-content: space-around
    }
    .exercise-block{
        flex-direction: column;
    }
    .card .btn{
        width: 100%!important;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .img-btn , .btn-apply-pass, .btn-apply{
        padding: 1rem;
    }
    .d-flex-btn{
        display: block;
    }
}

.requests-to-track {
    max-height: 350px;
    overflow-y: scroll;
}
.track-users {
    max-height: 450px;
    overflow-y: scroll;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: var(--main-primary-footer)!important;
}


@media (min-width:770px) and (max-width: 1300px) {
    .form-floating>.form-control, .form-floating>.form-control-plaintext{
        height: 100%;
    }
}

