* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
}

input, select {
    border: 1px solid #4886FF !important;
}

.text {
    width: 65%;
}

.accordion-body {
    width: 100%;
}

.navbar {
    background-color: #fff;
    padding: 0;

}

.input-group .form-control {
    border: 0;
    border-radius: 0 5px 5px 0;
}

main {
    display: flex;
    justify-content: center;

}

.main-containers {
    margin-top: 2rem;
    width: 80%;
    background-color: #fff;
    padding: 2rem;

}

.avatar.col-lg-3 {
    padding: 0;
    margin-right: 1rem;
}

.avatar img {
    width: 100%;
    height: 407px;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 0;
}

.avatar-content {
    display: flex;
    justify-content: center;
}

.avatar-content .form-content {
    background-color: #ededed;
    padding: 1rem;
    border-radius: 5px;
    width: 72%;
}

.grade-block .form-content {
    background-color: #ededed;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
}

.input-group-text {
    border: 0;
    background-color: #085aff;
    color: #fff;
}

.form-content input.input {
    width: 315px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    border: 0;
    margin: 1rem 0;
}

.edit .edit-btn {
    width: 485px;
}

/* .form-floating{
    width: 49%;
    border: 0;
} */
/* .form-content .input-child input:nth-child(1),
.form-content .input-child input:nth-child(2)
{
    width: 49%;
    border: 0;
} */
.form-content .select-options {
    justify-content: space-between;
    display: flex;
    width: 992px;
}

.column .one {
    display: flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
}

.column .one p {
    margin: 5px;
}

.form-content .select select {
    display: block;
    width: 315px;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    background: none;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #444;
    background-color: #fff;
    margin: 1rem 0;
    cursor: pointer;
}

.edit-btn {
    margin: 1rem 0;
    width: 315px;
    height: 50px;
    background: #4886FF;
    border-radius: 5px;
    border: 0;
    color: #fff;
    transition: 250ms;
}

.edit-btn:hover {
    background: #085aff;
    text-decoration: underline;
}

.img-btn {
    background: #4886FF;
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 50px;
    width: 100%;
    transition: 250ms;
}

.img-btn:hover {
    background: #085aff;
    text-decoration: underline;
}

.form-group {
    display: flex;
    justify-content: flex-end;
}

.text-header {
    font-size: 32px;
    color: #202020;
    font-weight: 600;
}

.accordion-button {
    padding: 0;

}

.edit-block .accordion-flush .accordion-item .accordion-button {
    width: -webkit-fill-available;
    margin-right: 15px;
}

.table th {
    border: 0;
}

#nonborder td {
    margin-right: 0px;
    border-right: 1px solid #DEE2E6;
}

#nonborder td:nth-last-child(1),
#nonborder th:nth-last-child(1) {
    border-right: 0;
}

td:nth-last-child(1) {
    padding-right: 20px;
}

.add-bloc {
    display: flex;
}

.grade-block {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.accordion-item {
    width: 1370px;
}

.accordion-button th {
    margin: 0 auto;
}

.accordion-button {
    border: 1px solid #555555;
    border-radius: 5px;
    margin-right: 10px;
}

.accordion-button {
    padding: 10px 10px 0px 10px;

}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 5px;
}

.accordion-item:last-of-type .accordion-collapse {
    padding: 0 10px;
}

.add-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 5px;

}

.text-h1 {
    font-weight: 400;
    font-size: 32px;
}

.text-h2 {
    font-weight: 400;
    font-size: 18px
}

.information {
    margin-top: 2rem;
}

.edit-block .btn {
    margin-top: 1rem;
}

.add-block .btn,
.edit-block .btn {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #555;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    transition: 250ms;
}

.add-block button:hover,
.edit-block .btn:hover {
    background-color: #333;
    text-decoration: underline;
}

.edit-block {
    height: auto;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 5px;
}

.edit-block .accordion-flush .accordion-item .accordion-button {
    border: 0;
}

.edit-row {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-block .text-h2 {
    width: 100%;
}

.edit-block .accordion-header {
    margin-bottom: 1rem;
}

.grade-block .accordion {
    width: 100%;
}

.edit-block .accordion {
    --bs-accordion-bg: none;
}

.edit-block .accordion-button:not(.collapsed) {
    color: none;
    background-color: #EDEDED;
    box-shadow: none;
}

.edit-block .accordion-button:focus,
.add-block .accordion-button:focus {
    box-shadow: none;
}

.edit-block .accordion-button {
    padding-right: 1.5rem;
}

.edit-block .info-block {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.edit-block .block-start,
.edit-block .block-end {
    width: 330px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-right: 2rem;
}

.accordion-body .row {
    --bs-gutter-x: 2rem;
}

.information {
    display: flex;
}

.accordion-button:not(.collapsed)::after {
    margin-bottom: 5px;
}

.accordion-button::after {
    margin-bottom: 5px;
}

.edit-block .accordion-button::after {

    position: absolute;
    right: 8px;
    top: -20px;
}

.number-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
    background-color: #085aff;
    border-radius: 4px;
    color: #fff;
}

.column .coplexity {
    padding: 3px 20px;
    color: white;
    border-radius: 4px;
}

.number-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
    border-radius: 4px;
    color: #fff;
}

.down-content .number-two {
    margin-left: 1rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.info-block p {
    margin: 5px;
}

.info-block .one,
.down-content .one {
    display: flex;

}

.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.table th {
    background-color: #3175fc;
    color: #fff;
}

.accordion-item:last-of-type .accordion-collapse {
    margin-top: 1rem;
    padding: 0;
}

.accordion-header td {
    border: 0;
}

.table th:nth-child(odd) {
    background-color: #4886FF;
}

.table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tr {
    transition: all .3s;
}

.table-2 tr:hover {
    background-color: #ccc;

}

.table>:not(caption)>*>* {
    border-bottom: none;
}

#nonborder td {
    border-right: none;
}

.table {
    margin-bottom: 10px;
}

.accordion-body .btn-edit {
    display: flex;
    justify-content: flex-end;
}

.card-edit {
    width: 45%;
    border-radius: 5px 10px;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2.5rem
}

.down-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.del-btn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff5454;
    border: 0;
    color: #fff;
    transition: 250ms;
}

.del-btn:hover {
    background-color: #fe2323;
    text-decoration: underline;
}

.down-content .edit-btn {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    background-color: #4886FF;
    color: #fff;
    transition: 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-content .edit-btn:hover {
    background: #004de6;
    text-decoration: underline;
}

.top-content .text-h1 {
    font-size: 24px;
    color: #252525;
}

/* .top-content p {
    width: 300px;
} */

.top-content .img-edit {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.top-content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.down-content p {
    margin-bottom: 0;
}

.down-content .number-one {
    margin-left: 1rem;
}

.accordion-item {
    width: 100%;
}

.d-flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.input-group {
    height: 55px;
}

.btn-apply {
    background: #4886FF;
    border-radius: 5px;
    border: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    transition: 250ms;

    padding: 16px;
}

.btn-apply:hover {
    background: #1863fa;
    text-decoration: underline;
}

.main-container .row {
    justify-content: flex-end;
}

/*
    Класс для заблокированного задания
*/
.locked-task {
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
}


/*
    Классы для цвета оценок
*/
.rating-two {
    background-color: #FF4848;
}

.rating-three {
    background-color: #ffc72c;
}

.rating-four {
    background-color: #13E58D;
}

.rating-five {
    background-color: #54EA2F;
}

/*
    Классы для цвета оцененных блоков
*/
.block-for-two {
    border: 6px solid #FF4848;
    border-radius: 5px;
}

.block-for-three {
    border: 6px solid #ffc72c;
    border-radius: 5px;
}

.block-for-four {
    border: 6px solid #13E58D;
    border-radius: 5px;
}

.block-for-five {
    border: 6px solid #54EA2F;
    border-radius: 5px;
}

/*
    Медиа запросы для адптивной версии страницы
*/
@media (min-width: 720px) and (max-width:1024px) {

    .main-container,
    .form-content .select-options {
        width: 100%;
    }

    .avatar {
        display: flex;
        flex-direction: column;
    }

    .avatar img {
        width: 100%;
        padding: 0;
    }

    .img-btn {
        width: 100%;
        margin-bottom: 2rem;
    }

    .add-block,
    .edit-block {
        width: 95%;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 250px;
    }

    .information {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .edit-block .text-h2 {
        width: 100%;
    }

    .edit-row {
        width: 100%;
        flex-direction: column;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 100%;
        height: 50px;
    }

    .add-block {
        padding: 10px 10px 20px 10px;
    }

    .edit-row {
        padding: 10px 10px 0px 10px;
    }

    .form-content {
        padding: 10px;
    }

    .btn-edit {
        width: 100%;
        flex-direction: column;
        height: auto;

    }

    .block-start,
    .block-end {
        margin-bottom: 1rem;

    }

    .text-h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .text-header {
        font-size: 26px;
        text-align: center;
    }

    .avatar-content .form-content input.input,
    .avatar-content .edit-btn {
        width: 32%;
    }

    .form-content .input-child input:nth-child(1),
    .form-content .input-child input:nth-child(2),
    .input-child .edit .btn-edit {
        width: 49%;
    }

    .accordion {
        width: 90%;
    }

    .accordion-item {
        width: 100%;
    }

    .footer-block {
        width: 90%;
    }

    .info-block .one {
        display: flex;
        justify-content: flex-end;
    }

    .btn-edit {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: 14px;
        top: -34px;
    }

    .info-block {
        align-items: flex-start;
    }

    .card-edit {
        width: 48%;
        height: auto;
        margin-bottom: .7rem;
    }

    .top-content {
        flex-direction: column;
        width: 100%;
    }

    .top-content .img-edit {
        width: 100%;
    }

    .top-content p {
        width: 100%;
    }

    .down-content {
        width: 100%;
        flex-direction: column;
    }

    .down-content .del-btn,
    .down-content .edit-btn {
        width: 100%;
    }

    .down-content .one {
        margin: 1rem 0;
    }

    .accordion-body {
        padding: 0;
    }

    .grade-block #accordion-w .accordion {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width: 720px) {
    .nav-item a {
        font-size: 20px;
        text-transform: uppercase;
    }

    .main-containers {
        width: 95%;
    }

    .card-text-main {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .card-form {
        display: flex;
        justify-content: center;
    }

    .news-block .card {
        width: 100%;
        margin-bottom: 1rem;
    }

    .accordion-item {
        width: 100%;
    }

    .directions-block {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .news-blocks p {
        color: #fff;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
        width: 95%;
    }

    .form-check-label {
        align-items: stretch;
        flex-direction: column;
    }

    .reg-btn {
        width: 100%;
        margin-top: 1.6rem;
    }

    .column .one {
        width: 76%;
    }

    .registr-form input.input {
        width: 100%;
    }

    .select select {
        width: 100%;
    }

    .reg-form {
        width: 95%;
    }

    .registr-form {
        display: flex;
        justify-content: center;
    }

    .select-options {
        flex-direction: column;
        width: 100%;
    }

    .registr-form form {
        width: 95%;
    }

    .footer-block {
        flex-direction: column-reverse;
        width: 100%;
    }

    .registr-form .line-top,
    .auth-form .line-top,
    .registr-form .line-down,
    .auth-form .line-down {
        width: 100%;
    }

    footer {
        height: auto;
    }

    .icons {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 1rem 0;
        width: 80%;
    }

    .logo {
        margin-bottom: 1rem;
    }

    footer .line-top {
        margin-bottom: 1rem;
    }

    .auth-form form {
        width: 95%;
    }

    .news-block {
        width: 95%;
    }

    .block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .directions-block .card {
        width: 90%;
        margin-bottom: 1.5rem;
    }

    #center-block .card-height {
        height: auto;
    }

    #center-block .card-height img,
    #center-block .right .card-height img {
        border-radius: 10px 10px 0 0;
        min-height: 250px;
    }

    .main-container {
        width: 100%;
        margin-top: 0rem;
    }

    .form-content .select-options select {
        width: 100%;
    }

    .form-content .select-options {
        width: 100%;
    }

    .form-content {
        margin-top: 20px;
    }

    .avatar img {
        width: 100%;
    }

    .img-btn {
        width: 100%;
    }

    .add-block .btn {
        width: 100%;
        height: 50px;
        margin-top: 1rem;
        font-weight: 300;
    }

    .add-block {
        width: 95%;
        flex-direction: column;
        height: auto;
        display: flex;
        align-items: stretch;
    }

    .edit-block {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .edit-block .info-block {
        width: 100%;
        margin-right: 1rem;
        height: auto;
        padding: 10px;
    }

    .information {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .edit-block .text-h2 {
        width: 100%;
    }

    .edit-row {
        width: 100%;
        flex-direction: column;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 100%;
        height: 50px;
    }

    .add-block {
        padding: 10px 10px 20px 10px;
    }

    .edit-row {
        padding: 10px 10px 0px 10px;
    }

    .form-content {
        padding: 10px;
    }

    .btn-add {
        width: 100%;
    }

    .edit-block .btn {
        width: 80%;
        height: 50px;
        font-weight: 300;
    }

    .block-start,
    .block-end {
        margin-bottom: 1rem;

    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: 20px;
        top: -34px;
    }

    #accordoin-w .accordion-button::after {
        position: absolute;
        right: 20px;
        top: -34px;
    }

    .text-h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .text-header {
        font-size: 26px;
        text-align: center;
    }

    .form-content input.input {
        width: 100%;
    }

    .grade-block .accordion {
        width: 95%;
    }

    #accordoin-w .accordion {
        width: 100%;
    }

    .edit-btn {
        width: 100%;
    }

    td:nth-last-child(1) {
        padding-right: 0;
    }

    .line-top {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    .links-footer {
        align-content: center;
    }

    .btn-edit {
        width: 100%;
    }

    .avatar img {
        margin-bottom: 1rem;
    }

    .card-edit {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }

    .avatar-content .form-content {
        width: 100%;
    }

    .top-content {
        flex-direction: column;
        width: 100%;
    }

    .top-content .img-edit {
        width: 100%;
    }

    .top-content p {
        width: 100%;
    }

    .down-content {
        width: 100%;
        flex-direction: column;
    }

    .down-content .del-btn,
    .down-content .edit-btn {
        width: 100%;
    }

    .down-content .one {
        margin: 1rem 0;
        width: 100%;
    }

    #accordion-w .accordion {
        width: 100%;
    }

    .cunter-content {
        flex-direction: column;
        align-items: center;
    }

    .block-info-right,
    .block-info-left {
        width: 95%;
    }

    .block-info-right .text-h1,
    .block-info-left .text-h1 {
        font-size: 18px;
    }

    .counter {
        margin: 2rem 0;
        width: 350px;
        height: 350px;
    }

    .block-info-right p,
    .block-info-left p {
        width: 300px;
        font-size: 16px;
    }

    .descriptions {
        height: auto;
        width: 100%;
    }

    .content {
        width: 95%;
    }

    .content-down {
        flex-direction: column-reverse;
    }

    .add-materials {
        width: 100%;
        margin-bottom: 2rem;
    }

    .link-content {
        width: 100%;
    }

    .submit-task {
        width: 100%;
        padding: 1rem;
    }

    .submit-task .btn-container {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .submit-task .attach-file {
        margin: 1rem 0;
        width: 100%;
    }

    .submit-task .btn-send {
        width: 100%;
    }

    .btn-container .line {
        display: none;
    }

    .icon-content {
        width: 100%;
        padding: 1rem 0;
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }

    .descriptions .line {
        width: 100%;
    }

    .descriptions .text-p {
        font-size: 16px;
        line-height: 24px;
    }

    .submit-task .text-h1,
    .descriptions .text-h1,
    .add-materials .text-h1 {
        font-size: 20px;
    }

    .btn-apply {
        height: 60px;
    }

    .main-container {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .images-header {
        padding: 2rem 0;
    }

    .images-header img {
        width: 100%;
    }

    .btn-back {
        width: 100%;
    }

    .text-container .text-h1 {
        width: 100%;
    }

    .link-content .text-p {
        width: 100%;
    }

    .text-container .line {
        width: 100%;
    }

    .text-container .text-h1,
    .text-container .text-p {
        width: 100%;
        font-size: 20px;
    }

    .text-container .text-h1 {
        font-size: 24px;
    }

    .text-container {
        width: 100%;
    }

    .flex-container {
        flex-direction: column;
    }

    .grade-block {
        padding: 0;
    }

    .auth-btn {
        margin-top: 1rem;
        width: 100%;
    }

    .form-check-label {
        flex-direction: column;
    }

    .main-container-directions {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .main-container-directions .images-header img,
    .main-container-directions .btn-back {
        width: 100%;
    }

    .search-container .contents {
        flex-direction: column;
    }

    .search-container .search,
    .search-container .form-floating {
        width: 100%;
        margin: 0.5rem 0;
    }

    .search-container .h1-content {
        font-size: 28px;
    }

    .search-item {
        width: 93%;
    }
}

@media (min-width: 1200px) and (max-width:1280) {
    .avatar-content .form-content {
        width: 100%;
    }

}

@media (min-width:720px) and (max-width: 1280px) {

    .card-text-main {
        width: 90%;
        margin-left: 1.5rem;
    }

    .cards-with-text {
        display: flex;
        justify-content: center;
    }

    .registr-form .line-top,
    .auth-form .line-top,
    .registr-form .line-down,
    .auth-form .line-down {
        width: 95%;
    }

    .block {
        width: 95%;
    }

    .news-block {
        width: 100%;
    }

    .reg-btn {
        width: 49%;
    }

    .content {
        width: 95%;
    }

    .descriptions {
        width: 100%;
    }

    .descriptions .line {
        width: 100%;
    }

    .player {
        width: 100%;
    }

    .content-down {
        width: 100%;

    }

    .submit-task {
        width: 72%;
    }

    .add-materials {
        width: 300px;
    }

    .block-info-right,
    .block-info-left {
        width: 30%;
    }

    .counter {
        margin: 0 1rem;
    }

    .block-info-right p,
    .block-info-left p {
        font-size: 15px;
    }

    .block-info-right .text-h1,
    .block-info-left .text-h1 {
        font-size: 17px;
    }

    .directions-block .card {
        width: 290px;
    }

    .main-container .images-header img,
    .main-container .images-header .btn-back {
        width: 100%;
    }

    .main-container .text-container {
        width: 85%;
    }

    .main-container .right-block-info {
        width: 47%;
    }
}

/* @media (min-width: 420px) and (max-width: 1150px) {
    .form-content input.input{
        width: 100%;
    }
    .form-content .input-child input:nth-child(1), .form-content .input-child input:nth-child(2) {
        width: 100%;
    }
    .form-content .select-options {
        width: 100%;
    }
    .form-content .select select {
        width: 100%;
    }
    .edit-btn {
        width: 100%;
    }
    .accordion {
        width: 95%;
    }
} */

@media (min-width: 1150px) and (max-width: 1280px) {
    .main-container {
        width: 95%;
    }

    .avatar-content {
        display: flex;
        justify-content: space-between;
    }

    .form-content input.input {
        width: 32%;
    }

    .form-content .input-child input:nth-child(1),
    .form-content .input-child input:nth-child(2) {
        width: 49%;
    }

    .form-content .select-options {
        width: 100%;
    }

    .form-content .select select {
        width: 250px;
    }

    .edit-btn {
        width: 32%;
    }

    .add-block {
        width: 95%;
    }

    .edit-block {
        width: 95%;
    }

    .edit-block .info-block {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .footer-block {
        width: 1180px;
        ;
    }

    .accordion-item {
        width: 100%;
    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: 6px;
        top: 5px;
    }

    .edit-block .btn {
        width: 200px;
        height: 60px;
    }

    .add-block .btn {
        width: 255px;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 300px;
    }

    .information {
        width: 630px;
    }

    .grade-block .accordion {
        width: 95%;
    }

    .search-item {
        margin: 0.7rem;
        width: 47.8%;
    }

}

@media (max-width:1200px) {

    .table-2 {
        display: block;
        width: 100%;
    }

    .table-2 thead,
    .table-2 tbody,
    .table-2 thead th {
        display: block;
    }

    .table-2 thead {
        float: left;
    }

    .table-2 tbody {
        overflow-x: auto;
    }

    .table-2 tbody tr {
        display: table-cell;

    }

    .table-2 tbody tr:last-child {
        border-right: none;
    }

    .table-2 td {
        display: block;
    }

    .table.table-2 td {
        border-right: none;
    }

    .table-2 td,
    .table-2 th {
        padding: 10px 5px;
        overflow: hidden;
        width: 160px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
}


@media (min-width:720px) and (max-width: 1024px) {

    .registr-form .input-child input:nth-child(1),
    .registr-form .input-child input:nth-child(2) {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .avatar-content .form-content {
        width: 100%;
    }

    .select-options {
        width: 100%;
        flex-direction: column;
    }

    .select select {
        width: 100%;
    }

    .registr-form form .row {
        flex-direction: column;
    }

    .registr-form input.input {
        width: 100%;
    }

    .footer-block {
        width: 90%;
    }

    .auth-btn {
        width: 50%;

    }

    .reg-btn {
        width: 49%;
    }

    .nav-item a {
        font-size: 14px;
        text-transform: uppercase;
    }

    .card-text-main {
        font-size: 18px;
    }

    .news-blocks p {
        width: 95%;
    }

    .registr-form form {
        width: 95%;
    }

    .news-block .card {
        width: 49%;
        margin-bottom: 1rem;
    }

    .direction {
        width: 45%;
    }

    .select::after {
        left: 96%;
    }

    .nav-item {
        padding: 0;
    }

    .auth-form form {
        width: 95%;
    }

    .auth-form {
        height: 580px;
    }

    .news-block {
        width: 95%;
    }

    .block {
        width: 95%;
    }

    .form-content .select select {
        width: 98%;
    }

    .form-content .select select {
        width: 100%;
    }

    #center-block .card-height {
        height: auto;
    }

    .grade-block .accordion {
        width: 95%;
    }

    .main-container {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .images-header {

        padding: 2rem 0 0 0;
    }

    .images-header img {
        width: 100%;
    }

    .btn-back {
        width: 100%;
    }

    .text-container .text-h1 {
        width: 100%;
    }

    .right-block-info {
        width: 49%;
    }

    .link-content .text-p {
        width: 80%;
    }

    .text-container .line {
        width: 100%;
    }

    .text-container .text-h1,
    .text-container .text-p {
        width: 100%;
        font-size: 20px;
    }

    .text-container .text-h1 {
        font-size: 24px;
    }

    .main-container .text-container {
        width: 49%;
    }

    .flex-container {
        width: 100%;
        justify-content: space-between;
    }

    .link-content p {
        width: 80%;
    }

    .directions-block .card {
        width: 235px;
    }

    .form-check-label {
        width: 100%;
    }

    .main-container-directions .text-container {
        width: 100%;
    }

    .main-container-directions {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .search-item {
        margin: 0.7rem;
        width: 46.3%;
    }
}


/*
    Медиа запросы для адптивной версии страницы
*/
@media (min-width: 720px) and (max-width:1024px) {

    .main-container,
    .form-content .select-options {
        width: 100%;
    }

    .avatar {
        display: flex;
        flex-direction: column;
    }

    .avatar img {
        width: 100%;
        padding: 0;
    }

    .img-btn {
        width: 100%;
        margin-bottom: 2rem;
    }

    .add-block,
    .edit-block {
        width: 100%;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 250px;
    }

    .information {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .edit-block .text-h2 {
        width: 100%;
    }

    .edit-row {
        width: 100%;
        flex-direction: column;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 100%;
        height: 50px;
    }

    .add-block {
        padding: 10px 10px 20px 10px;
    }

    .edit-row {
        padding: 10px 10px 0px 10px;
    }

    .form-content {
        padding: 10px;
    }

    .btn-edit {
        width: 100%;
        flex-direction: column;
        height: auto;

    }

    .block-start,
    .block-end {
        margin-bottom: 1rem;

    }

    .text-h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .text-header {
        font-size: 26px;
        text-align: center;
    }

    .avatar-content .form-content input.input,
    .avatar-content .edit-btn {
        width: 32%;
    }

    .form-content .input-child input:nth-child(1),
    .form-content .input-child input:nth-child(2),
    .input-child .edit .btn-edit {
        width: 49%;
    }

    .accordion {
        width: 90%;
    }

    .accordion-item {
        width: 100%;
    }

    .footer-block {
        width: 90%;
    }

    .info-block .one {
        display: flex;
        justify-content: flex-end;
    }

    .btn-edit {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: 4px;
        top: -4px;
    }

    .info-block {
        align-items: flex-start;
    }

    .card-edit {
        width: 48%;
        height: auto;
        margin-bottom: .7rem;
    }

    .top-content {
        flex-direction: column;
        width: 100%;
    }

    .top-content .img-edit {
        width: 100%;
    }

    .top-content p {
        width: 100%;
    }

    .down-content {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .down-content .del-btn,
    .down-content .edit-btn {
        width: 100%;
    }

    .down-content .one {
        margin: 1rem 0;
    }

    .accordion-body {
        padding: 0;
    }

    .grade-block #accordion-w .accordion {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width: 720px) {
    .nav-item a {
        font-size: 20px;
        text-transform: uppercase;
    }

    .card-text-main {
        width: 100%;
    }

    .card-form {
        display: flex;
        justify-content: center;
    }

    .news-block .card {
        width: 100%;
        margin-bottom: 1rem;
    }

    .accordion-item {
        width: 100%;
    }

    .directions-block {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .news-blocks p {
        color: #fff;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
        width: 95%;
    }

    .form-check-label {
        align-items: stretch;
        flex-direction: column;
    }

    .reg-btn {
        width: 100%;
        margin-top: 1.6rem;
    }

    .registr-form input.input {
        width: 100%;
    }

    .select select {
        width: 100%;
    }

    .reg-form {
        width: 95%;
    }

    .registr-form {
        display: flex;
        justify-content: center;
    }

    .select-options {
        flex-direction: column;
        width: 100%;
    }

    .registr-form form {
        width: 95%;
    }

    .footer-block {
        flex-direction: column-reverse;
        width: 100%;
    }

    .registr-form .line-top,
    .auth-form .line-top,
    .registr-form .line-down,
    .auth-form .line-down {
        width: 100%;
    }

    footer {
        height: auto;
    }

    .icons {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 1rem 0;
        width: 80%;
    }

    .logo {
        margin-bottom: 1rem;
    }

    footer .line-top {
        margin-bottom: 1rem;
    }

    .auth-form form {
        width: 95%;
    }

    .news-block {
        width: 95%;
    }

    .block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .directions-block .card {
        width: 90%;
        margin-bottom: 1.5rem;
    }

    #center-block .card-height {
        height: auto;
    }

    #center-block .card-height img,
    #center-block .right .card-height img {
        border-radius: 10px 10px 0 0;
        min-height: 250px;
    }

    .main-container {
        width: 100%;
        margin-top: 0rem;
    }

    .form-content .select-options select {
        width: 100%;
    }

    .form-content .select-options {
        width: 100%;
    }

    .form-content {
        margin-top: 20px;
    }

    .avatar img {
        width: 100%;
    }

    .img-btn {
        width: 100%;
    }

    .add-block .btn {
        width: 100%;
        height: 50px;
        margin-top: 1rem;
        font-weight: 300;
    }

    .add-block {
        width: 100%;
        flex-direction: column;
        height: auto;
        display: flex;
        align-items: stretch;
        padding: 10px 10px 20px 10px;
    }

    .edit-block {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .edit-block .info-block {
        width: 100%;
        margin-right: 1rem;
        height: auto;
        padding: 10px;
    }

    .information {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .edit-block .text-h2 {
        width: 100%;
    }

    .edit-row {
        width: 100%;
        flex-direction: column;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 100%;
        height: 50px;
    }

    .edit-row {
        padding: 10px 10px 0px 10px;
    }

    .form-content {
        padding: 10px;
    }

    .btn-add {
        width: 100%;
    }

    .edit-block .btn {
        width: 80%;
        height: 50px;
        font-weight: 300;
    }

    .block-start,
    .block-end {
        margin-bottom: 1rem;

    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: -2px;
        top: -5px;

    }

    #accordoin-w .accordion-button::after {
        position: absolute;
        right: 20px;
        top: -34px;
    }

    .text-h1 {
        font-weight: 600;
        font-size: 24px;
    }

    .text-header {
        font-size: 26px;
        text-align: center;
    }

    .form-content input.input {
        width: 100%;
    }

    .grade-block .accordion {
        width: 100%;
    }

    #accordoin-w .accordion {
        width: 100%;
    }

    .edit-btn {
        width: 100%;
    }

    td:nth-last-child(1) {
        padding-right: 0;
    }

    .line-top {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    .links-footer {
        align-content: center;
    }

    .btn-edit {
        width: 100%;
    }

    .avatar img {
        margin-bottom: 1rem;
    }

    .card-edit {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }

    .top-content {
        flex-direction: column;
        width: 100%;
    }

    .top-content .img-edit {
        width: 100%;
    }

    .top-content p {
        width: 100%;
    }

    .down-content {
        width: 100%;
        flex-direction: column;
    }

    .down-content .del-btn,
    .down-content .edit-btn {
        width: 100%;
    }

    .down-content .one {
        margin: 1rem 0;
        width: 100%;
    }

    #accordion-w .accordion {
        width: 100%;
    }

    .cunter-content {
        flex-direction: column;
        align-items: center;
    }

    .block-info-right,
    .block-info-left {
        width: 95%;
    }

    .block-info-right .text-h1,
    .block-info-left .text-h1 {
        font-size: 18px;
    }

    .counter {
        margin: 2rem 0;
        width: 350px;
        height: 350px;
    }

    .block-info-right p,
    .block-info-left p {
        width: 300px;
        font-size: 16px;
    }

    .descriptions {
        height: auto;
        width: 100%;
    }

    .content {
        width: 95%;
    }

    .content-down {
        flex-direction: column-reverse;
    }

    .add-materials {
        width: 100%;
        margin-bottom: 2rem;
    }

    .link-content {
        width: 100%;
    }

    .submit-task {
        width: 100%;
        padding: 1rem;
    }

    .submit-task .btn-container {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .submit-task .attach-file {
        margin: 1rem 0;
        width: 100%;
    }

    .submit-task .btn-send {
        width: 100%;
    }

    .btn-container .line {
        display: none;
    }

    .icon-content {
        width: 100%;
        padding: 1rem 0;
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }

    .descriptions .line {
        width: 100%;
    }

    .descriptions .text-p {
        font-size: 16px;
        line-height: 24px;
    }

    .submit-task .text-h1,
    .descriptions .text-h1,
    .add-materials .text-h1 {
        font-size: 20px;
    }

    .btn-apply {
        height: 60px;
    }

    .main-container {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .images-header {
        padding: 2rem 0;
    }

    .images-header img {
        width: 100%;
    }

    .btn-back {
        width: 100%;
    }

    .text-container .text-h1 {
        width: 100%;
    }

    .link-content .text-p {
        width: 100%;
    }

    .text-container .line {
        width: 100%;
    }

    .text-container .text-h1,
    .text-container .text-p {
        width: 100%;
        font-size: 20px;
    }

    .text-container .text-h1 {
        font-size: 24px;
    }

    .text-container {
        width: 100%;
    }

    .flex-container {
        flex-direction: column;
    }

    .grade-block {
        padding: 0;
    }

    .auth-btn {
        margin-top: 1rem;
        width: 100%;
    }

    .form-check-label {
        flex-direction: column;
    }

    .main-container-directions {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .main-container-directions .images-header img,
    .main-container-directions .btn-back {
        width: 100%;
    }

    .search-container .contents {
        flex-direction: column;
    }

    .search-container .search,
    .search-container .form-floating {
        width: 100%;
        margin: 0.5rem 0;
    }

    .search-container .h1-content {
        font-size: 28px;
    }

    .search-item {
        width: 93%;
    }
}



@media (min-width:720px) and (max-width: 1280px) {
    .card-text-main {
        width: 90%;
        margin-left: 1.5rem;

    }

    .cards-with-text {
        display: flex;
        justify-content: center;
    }

    .registr-form .line-top,
    .auth-form .line-top,
    .registr-form .line-down,
    .auth-form .line-down {
        width: 95%;
    }

    .block {
        width: 95%;
    }

    .news-block {
        width: 100%;
    }

    .reg-btn {
        width: 49%;
    }

    .content {
        width: 95%;
    }

    .descriptions {
        width: 100%;
    }

    .descriptions .line {
        width: 100%;
    }

    .player {
        width: 100%;
    }

    .content-down {
        width: 100%;

    }

    .submit-task {
        width: 72%;
    }

    .add-materials {
        width: 300px;
    }

    .block-info-right,
    .block-info-left {
        width: 30%;
    }

    .counter {
        margin: 0 1rem;
    }

    .block-info-right p,
    .block-info-left p {
        font-size: 15px;
    }

    .block-info-right .text-h1,
    .block-info-left .text-h1 {
        font-size: 17px;
    }

    .directions-block .card {
        width: 290px;
    }

    .main-container .images-header img,
    .main-container .images-header .btn-back {
        width: 100%;
    }

    .main-container .text-container {
        width: 85%;
    }

    .main-container .right-block-info {
        width: 47%;
    }
}

/* @media (min-width: 420px) and (max-width: 1150px) {
    .form-content input.input{
        width: 100%;
    }
    .form-content .input-child input:nth-child(1), .form-content .input-child input:nth-child(2) {
        width: 100%;
    }
    .form-content .select-options {
        width: 100%;
    }
    .form-content .select select {
        width: 100%;
    }
    .edit-btn {
        width: 100%;
    }
    .accordion {
        width: 95%;
    }
} */

@media (min-width: 1150px) and (max-width: 1280px) {
    .main-container {
        width: 95%;
    }

    .avatar-content {
        display: flex;
        justify-content: space-between;
    }

    .form-content input.input {
        width: 32%;
    }

    .form-content .input-child input:nth-child(1),
    .form-content .input-child input:nth-child(2) {
        width: 49%;
    }

    .form-content .select-options {
        width: 100%;
    }

    .form-content .select select {
        width: 250px;
    }

    .edit-btn {
        width: 32%;
    }

    .add-block {
        width: 100%;
    }

    .edit-block {
        width: 100%;
    }

    .edit-block .info-block {
        width: 100%;
    }

    .footer-block {
        width: 1180px;
        ;
    }

    .accordion-item {
        width: 100%;
    }

    .edit-block .accordion-button::after {
        position: absolute;
        right: 6px;
        top: -3px;
    }

    .edit-block .btn {
        width: 200px;
        height: 60px;
    }

    .add-block .btn {
        width: 255px;
    }

    .edit-block .block-start,
    .edit-block .block-end {
        width: 300px;
    }

    .information {
        width: 630px;
    }

    .grade-block .accordion {
        width: 100%;
    }

    .search-item {
        margin: 0.7rem;
        width: 47.8%;
    }

}

@media (max-width:1200px) {
    .table-2 {
        display: block;
        width: 100%;
    }

    .table-2 thead,
    .table-2 tbody,
    .table-2 thead th {
        display: block;
    }

    .table-2 thead {
        float: left;
    }

    .table-2 tbody {
        overflow-x: auto;
    }

    .table-2 tbody tr {
        display: table-cell;

    }

    .table-2 tbody tr:last-child {
        border-right: none;
    }

    .table-2 td {
        display: block;
    }

    .table.table-2 td {
        border-right: none;
    }

    .table-2 td,
    .table-2 th {
        padding: 10px 5px;
        overflow: hidden;
        width: 160px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
}


@media (min-width:720px) and (max-width: 1024px) {

    .registr-form .input-child input:nth-child(1),
    .registr-form .input-child input:nth-child(2) {
        width: 100%;
    }

    .select-options {
        width: 100%;
        flex-direction: column;
    }

    .select select {
        width: 100%;
    }

    .registr-form form .row {
        flex-direction: column;
    }

    .registr-form input.input {
        width: 100%;
    }

    .footer-block {
        width: 90%;
    }

    .auth-btn {
        width: 50%;

    }

    .reg-btn {
        width: 49%;
    }

    .nav-item a {
        font-size: 14px;
        text-transform: uppercase;
    }

    .card-text-main {
        font-size: 18px;
    }

    .news-blocks p {
        width: 95%;
    }

    .registr-form form {
        width: 95%;
    }

    .news-block .card {
        width: 49%;
        margin-bottom: 1rem;
    }

    .direction {
        width: 45%;
    }

    .select::after {
        left: 96%;
    }

    .nav-item {
        padding: 0;
    }

    .auth-form form {
        width: 95%;
    }

    .auth-form {
        height: 580px;
    }

    .news-block {
        width: 95%;
    }

    .block {
        width: 95%;
    }

    .form-content .select select {
        width: 98%;
    }

    .form-content .select select {
        width: 100%;
    }

    #center-block .card-height {
        height: auto;
    }

    .grade-block .accordion {
        width: 100%;
    }

    .main-container {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .images-header {

        padding: 2rem 0 0 0;
    }

    .images-header img {
        width: 100%;
    }

    .btn-back {
        width: 100%;
    }

    .text-container .text-h1 {
        width: 100%;
    }

    .right-block-info {
        width: 49%;
    }

    .link-content .text-p {
        width: 80%;
    }

    .text-container .line {
        width: 100%;
    }

    .text-container .text-h1,
    .text-container .text-p {
        width: 100%;
        font-size: 20px;
    }

    .text-container .text-h1 {
        font-size: 24px;
    }

    .main-container .text-container {
        width: 49%;
    }

    .flex-container {
        width: 100%;
        justify-content: space-between;
    }

    .link-content p {
        width: 80%;
    }

    .directions-block .card {
        width: 235px;
    }

    .form-check-label {
        width: 100%;
    }

    .main-container-directions .text-container {
        width: 100%;
    }

    .main-container-directions {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
    }

    .search-item {
        margin: 0.7rem;
        width: 46.3%;
    }
}
